:root {
  --bg-color: #F4F7F9;
  /* primary改变的是转换器的颜色 */
  --primary: #A6DDF9;
  --primary-light: #D6E6F5;
  /* secondary 是改变盲盒盒子颜色的 */
  --secondary: #A6DDF9;
  /* text-main 是改变导航栏被选中的颜色和字体颜色 */
  --text-main: #A6DDF9;
  --text-light: #A0AEC0;
  --card-bg: #FFFFFF;
  --border-color: #E2E8F0;
  --radius-lg: 24px;
  --radius-md: 16px;
  --shadow-soft: 0 8px 25px rgba(123, 164, 219, 0.08);
  --header-height: 100px;
}

[data-theme="pink"] {
  --bg-color: #FFFAFB;
  --primary: #FEADCF;
  --primary-light: #FFD1D8;
  --secondary: #FEADCF;
  --text-main: #FEADCF;
  --text-light: #A89B9E;
  --border-color: #F0E6E8;
  --shadow-soft: 0 8px 25px rgba(255, 142, 158, 0.08);
}

[data-theme="purple"] {
  --bg-color: #F9F5FF;
  --primary: #D9B6FB;
  --primary-light: #EDE9FE;
  --secondary: #D9B6FB;
  --text-main: #D9B6FB;
  --text-light: #A49EB5;
  --border-color: #E8E4F0;
  --shadow-soft: 0 8px 25px rgba(183, 148, 244, 0.08);
}
